.other-prds
  .content
    .title PESSOAS VIRAM TAMBÉM
    .clear.list
      .pull-left.item
        a(href='/produto/5')
          img(src='images/products/caneca-laranja-verde.jpg')
      .pull-left.item
        a(href='/produto/3')
          img(src='images/products/caneca-branca.jpg')
      .pull-left.item
        a(href='/produto/6')
          img(src='images/products/camisa-polo-preta.jpg')
      .pull-left.item
        a(href='/produto/10')
          img(src='images/products/camisa-social.jpg')