.info-line
    .text-right.color-orange
    .clear.vmargin
      .pull-right.value R$ 22,00
      .pull-right.value Frete
    .clear
      .pull-right.value 2 dias
      .pull-right Prazo de entrega
  .clear.info-line.info-line-blue
    .pull-right.value R$ 0,00
    .pull-right Desconto
  .clear.info-line
    .pull-right.value R$ 1,50
    .pull-right
      | Taxa de administração de risco.
      a(href='', title='A taxa de administração de risco (cobrada pela Gerencianet) garante a segurança da sua compra. Assim, caso ocorra algum problema com a entrega do seu pedido, é possível iniciar uma disputa na Gerencianet e solicitar a devolução do valor pago.') Entenda.
  .clear.total
    .pull-right.value= 'R$ ' + total
    .pull-right Valor total:
.clear
  .pull-left
    a.btn(href='./') Continuar comprando
  .pull-right
    a.btn.btn-green(href='./checkout') Concluir compra