.search
  p
    label.text-bold.text-italic.info Busque produtos por palavras chave
    input.input-search(type='text')
    input.image-button(type='image', src='/images/icon-search.png')
.footer.zigzag
  .content
    .list
      p.title.text-bold CATEGORIAS
      ul
        li
          a.link(href='#') CAMISETAS
        li
          a.link(href='#') BOTTONS
        li
          a.link(href='#') SACOLAS
        li
          a.link(href='#') CANECAS
        li
          a.link(href='#') BONÉS
    .list
      p.title.text-bold DÚVIDAS?
      ul
        li
          a.link(href='#') COMO COMPRAR
        li
          a.link(href='#') PRAZOS DE ENTREGA
        li
          a.link(href='#') TROCAS E DEVOLUÇÕES
        li
          a.link(href='#') FORMAS DE PAGAMENTO
        li
          a.link(href='#') ACOMPANHAR PEDIDO
        li
          a.link(href='#') SEGURANÇA
        li
          a.link(href='#') LOCALIZAÇÃO
        li
          a.link(href='#') TRABALHE CONOSCO
    .list
      p.title.text-bold CONTATO
      ul
        li
          label.contact.text-bold 0800 723 0580
        li
          label.contact.text-bold suportetecnico@gerencianet.com.br
        li
          img(src='images/icones-redes-sociais.png')
